{% macro render_bs_form(form, class="", on_submit_success="null") -%}
  <form class="needs-validation {{ class }}" enctype="{{ form.form_enctype }}" {{ kwargs|xmlattr }} onsubmit="bsFormSubmit(this, event, {{ on_submit_success }});" novalidate>
    {{ form.hidden_tag() }}
    <div class="text-danger" data-feedback-for="form">
    </div>
    {{ caller() }}
  </form>
{% endmacro %}

{% macro render_bs_field_error(field) %}
  <div class="invalid-feedback" data-feedback-for="{{ field.id }}">
  </div>
{% endmacro %}
