{% macro print_if(condition, msg) %}
  {% if condition %}{{ msg }}{% endif %}
{% endmacro %}

{% macro render_field_label(field) %}
  <label for="{{ field.label.field_id }}" {{ kwargs|dict_keys_snake_case_to_kebab_case|xmlattr }}>
    {% if caller %}
      {{ caller() }}
    {% else %}
      {{ field.label.text }}
    {% endif %}
  </label>
{% endmacro %}

{% macro render_field_input(field) %}
  {{ field(**kwargs) }}
{% endmacro %}

{# bootstrap macros #}
{% macro render_bs_form(form, class="", on_submit_success="null") -%}
  <form class="needs-validation {{ class }}" enctype="{{ form.form_enctype }}" {{ kwargs|dict_keys_snake_case_to_kebab_case|xmlattr }} onsubmit="bsFormSubmit(this, event, {{ on_submit_success }});" novalidate>
    <div class="text-danger" data-feedback-for="form"></div>
    {{ form.hidden_tag() }}
    {{ caller() }}
  </form>
{% endmacro %}

{% macro render_bs_field_error(field) %}
  <div class="invalid-feedback" data-feedback-for="{{ field.name }}"></div>
{% endmacro %}
